.vs/CopilotSnapshots/1D0BB76B1D911246A15D3D304A80F48D/state.mpack
.vs/CopilotSnapshots/DD400EAC6CB5BA4FBF2B9FECF28B501E/state.mpack
.vs/ProjectSettings.json
.vs/Shiprekt+3D/CopilotIndices/17.14.1679.25730/CodeChunks.db
.vs/Shiprekt+3D/CopilotIndices/17.14.1679.25730/SemanticSymbols.db
.vs/Shiprekt+3D/FileContentIndex/12523dd2-39d9-47b6-93a2-f01e78a1e8f9.vsidx
.vs/Shiprekt+3D/v17/.wsuo
.vs/Shiprekt+3D/v17/DocumentLayout.backup.json
.vs/Shiprekt+3D/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
